.features {
  padding-top: 120px;
  padding-bottom: 120px;  
}

.features-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
}

.features-item {
  flex-basis: 264px;
}

.features-title {
  margin-bottom: 8px;
}

.features-text {
  max-width: 264px;
}