.features
{
  padding-top: 120px;
  padding-bottom: 120px;  
}

.features-container ul
{
display: flex;
 gap: 24px;
 padding-left: 0;
}

.features-container li 
{
  flex-basis: 264px;
}

.features-container h3
{
padding-bottom: 8px;
}

.features-container p
{
max-width: 264px;
}
