.team
{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-card-content
{
    text-align: center;
    padding: 32px 16px;
}

.team-card-content h3
{
    margin-bottom: 8px;
}


.team-container ul
{
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.team-container img
{
    display: block;
}

.team-card
{
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-width: 264px;
}